<%- include('../partials/__head.ejs') %>

  <body>
    <%- include('../partials/__navbar.ejs') %>
    <div class="container">
        <%- include('../partials/__messagess.ejs') %>
            <h1 class="text-center">Data Akun</h1>
                <div class="row">
                    <div class="col">
                        <a href="/akun/create" class="btn btn-sm btn-success">Tambah</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Foto</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Alamat</th>
                                    <th scope="col">No Telp</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Level</th>
                                    <th colspan="2" scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < data.length; i++){ %>
                                    <tr>
                                        <th scope="row"><%= (i+1) %></th>
                                        <td>
                                            <img src="/images/users/<%= data[i].foto %>" height="100" width="200">
                                        </td>
                                        <td>
                                            <%= data[i].nama %>
                                        </td>
                                        <td>
                                            <%= data[i].alamat %>
                                        </td>
                                        <td>
                                            <%= data[i].no_telp %>
                                        </td>
                                        <td>
                                            <%= data[i].email %>
                                        </td>
                                        <% if (data[i].level_users == "1") { %>
                                        <td>
                                            User
                                        </td>
                                        <% } else if (data[i].level_users == "2") { %>
                                        <td>
                                            Admin
                                        </td>
                                        <% } %>
                                        
                                        <td>
                                            <a href="/akun/edit/<%= data[i].id_users %>" class="btn btn-sm btn-warning">Edit</a>
                                            <a href="/akun/delete/<%= data[i].id_users %>" class="btn btn-sm btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                    <%} %>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>


    <%- include('../partials/__foot.ejs') %>
    