<%- include('../partials_edit/__head.ejs') %>


<body>
    <%- include('../partials/__navbar.ejs') %>
    <div class="container">
        <h1 class="text-center mb-5">Edit Data Kategori</h1>
        <form action="/kategori/update/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">Nama Kategori</label>
                <input type="text" class="form-control" name="nama_kategori" value="<%= nama_kategori %>" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>
    <%- include('../partials_edit/__foot.ejs') %>
