<%- include('../partials/__head.ejs') %>

    <body>
        <%- include('../partials/__navbar.ejs') %>
            <div class="container">
                <%- include('../partials/__messagess.ejs') %>
                    <h1 class="text-center mb-4">
                        Selamat Datang Admin
                    </h1>
                    <div class="text-center">
                        <div>
                            <img class="img-profile rounded-circle" src="../../images/users/<%= session_foto %>" width="200" height="200">
                        </div>
                        <div class="row">
                            <h3>Nama : <%= session_nama %>
                            </h3>
                        </div>
                        <div class="row">
                            <h3>Alamat : <%= alamat %>
                            </h3>
                        </div>
                        <div class="row">
                            <h3>No telp : <%= no_telp %>
                            </h3>
                        </div>
                        <div class="row">
                            <h3>Email : <%= email %>
                            </h3>
                        </div>
                    </div>
            </div>

            <%- include('../partials/__foot') %>